@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0d1117] text-[#e6edf3];
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
}
